*.pdb
*.suo
*.sdf
/Assignment2/Assignment2/assignment
/Assignment2/Debug
/Assignment2/Assignment2/Debug
/Graphics3/Debug
/Graphics3/Graphics3/Debug
/Graphics3/*.opensdf
/picking_Example
*.zip
/Graphics5/Debug
/Graphics5/Graphics3/Debug
/Graphics5/*.opensdf
