*.pdb
*.suo
*.sdf
/Assignment2/Assignment2/assignment
/Assignment2/Debug
/Assignment2/Assignment2/Debug
/Graphics3/Debug
/Graphics3/Graphics3/Debug
/Graphics3/*.opensdf
*.zip
/Graphics5/Debug
/Graphics5/Graphics3/Debug
/Graphics5/*.opensdf

/Graphics5/Graphics5/Debug/Graphics5.log
/Graphics5/Graphics5/Debug/Graphics5.tlog/CL.read.1.tlog
/Graphics5/Graphics5/Debug/Graphics5.tlog/CL.write.1.tlog
/Graphics5/Graphics5/Debug/Graphics5.tlog/Graphics5.lastbuildstate
/Graphics5/Graphics5/Debug/Graphics5.tlog/cl.command.1.tlog
/Graphics5/Graphics5/Debug/Graphics5.tlog/link.command.1.tlog
/Graphics5/Graphics5/Debug/Graphics5.tlog/link.read.1.tlog
/Graphics5/Graphics5/Debug/Graphics5.tlog/link.write.1.tlog
/Graphics5/Graphics5/Debug/ObjLoader.obj
/Graphics5/Graphics5/Debug/Polygon.obj
/Graphics5/Graphics5/Debug/SceneManager.obj
/Graphics5/Graphics5/Debug/SceneObject.obj
/Graphics5/Graphics5/Debug/Tirgul.obj
/Graphics5/Graphics5/Debug/main.obj
/Graphics5/Graphics5/Debug/vc120.idb
/picking_Example/Graphics3/Debug/Graphics3.exe
/picking_Example/Graphics3/Debug/Graphics3.ilk
/picking_Example/Graphics3/Graphics3/Debug/Graphics3.log
/picking_Example/Graphics3/Graphics3/Debug/Graphics3.tlog/CL.read.1.tlog
/picking_Example/Graphics3/Graphics3/Debug/Graphics3.tlog/CL.write.1.tlog
/picking_Example/Graphics3/Graphics3/Debug/Graphics3.tlog/Graphics3.lastbuildstate
/picking_Example/Graphics3/Graphics3/Debug/Graphics3.tlog/cl.command.1.tlog
/picking_Example/Graphics3/Graphics3/Debug/Graphics3.tlog/link.command.1.tlog
/picking_Example/Graphics3/Graphics3/Debug/Graphics3.tlog/link.read.1.tlog
/picking_Example/Graphics3/Graphics3/Debug/Graphics3.tlog/link.write.1.tlog
/picking_Example/Graphics3/Graphics3/Debug/ObjLoader.obj
/picking_Example/Graphics3/Graphics3/Debug/Polygon.obj
/picking_Example/Graphics3/Graphics3/Debug/SceneManager.obj
/picking_Example/Graphics3/Graphics3/Debug/SceneObject.obj
/picking_Example/Graphics3/Graphics3/Debug/main.obj
/picking_Example/Graphics3/Graphics3/Debug/vc120.idb
